@import 'blue'
body
  height 100%
  overflow-x hidden

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, button,th, td ,a ,span
  margin 0
  padding 0
  font-family ''
  font-size 0.12rem
@import 'index'
@import 'element-ui'