// tips颜色
$tips-bg-color = #73e0c3
$tips-text-color = #fefefe
$tips-success-color = #00cab0
$tips-warning-color = #e88300
$tips-error-color = #bd0303

// 登录页面
$register-bg = #595f75 // 登录背景色
$register-li-bg = #ffffff // li背景色
$register-svg-color = #32374a // 图标字体色
$register-cut-off-rule = #e6e6e6 // 分割线颜色
$register-star-color = #cf4040 // **字体色
$register-button-bg = #01c8b3 // 按钮背景色
$register-button-color = #ffffff // 按钮字体色
$register-tab-bg = #2b2e3f // tab切换背景色
$register-tab-color = #595f75 // tab切换字体色
$register-tab-active-bg = #595f75 // tab切换选中背景色
$register-tab-active-color = #ffffff // tab切换选中字体色
$register-tab-btn-bgColor = #8287a5
$register-tab-btn-active-bgColor = #00b8ff