@import "./blue";
.disabledColor
    background #ebebe4!important
.login-container
    width 450px
    height 540px
    background rgba(255, 255, 255, 0.18)
    margin 10px auto
    
    ul 
        box-sizing border-box
        height 100%
        padding-top 30px
        li
            display flex
            width 360px
            margin 0 auto
            background $register-li-bg
            margin-bottom 14px
            border-radius 18px
            padding 5px 0
            box-sizing border-box
            span 
                height 22px
                display flex
                svg 
                    font-size 18px
                    margin auto
                    color $register-svg-color
                &:nth-child(1)
                    border-right 1px solid $register-cut-off-rule
                    padding 0 13px 0 15px
                    margin-right 16px
                &:nth-child(2)
                    color $register-star-color
                    line-height 26px
                    margin-right 5px
            &:nth-child(6)
                line-height 30px
                span:nth-child(2)
                    line-height 20px!important
            &:nth-child(7)
                span:nth-child(2)
                    line-height 20px!important
            &:nth-last-of-type(1)
                padding 0 0
                background none
                margin-top 30px
                button 
                    height 33px
                    line-height 33px
                    border-radius 22px
                    margin auto
                    outline none
                    text-align center
                    font-size: 16px;
                    background $register-tab-btn-active-bgColor
                    border none
                    color $register-button-color
            input 
                width 270px !important
                border none


@media screen and (max-width: 760px)
    .login-container
        width 100%
        height auto
        ul
            height 360px
            padding-top 20px
            li
                padding 2px 0
                width: 80%
                border-radius 14px
                margin-bottom 10px
                span 
                    &:nth-child(3)
                        width: 65% !important
                        input 
                            width 100%
                &:nth-child(4),&:nth-child(5)
                    span 
                        &:nth-child(2)
                            width: 60%
                            input 
                                width 100%

                &:nth-child(7),&:nth-child(8),&:nth-child(6)
                    span 
                        &:nth-child(2)
                            width: 67%
                            input 
                                width 100%
                            .svg-icon
                                margin-bottom 2px
                &:nth-last-of-type(1)
                    button
                        height 28px
                        line-height 28px
                        border-radius 18px
                        margin-top -10px
                        outline none
                input 
                    width 200px !important
                    border none
@media screen and (max-width: 320px)  // iphone5S
    .login-container
        width 100%
        height auto
        ul
            height 310px
            padding-top 15px
            li
                padding 0
                width: 80%
                border-radius 14px
                margin-bottom 10px
                span 
                    &:nth-child(3)
                        width: 60% !important
                &:nth-last-of-type(1)
                    button
                        height 23px
                        line-height 23px
                        border-radius 18px
                        margin-top -10px
                        outline none
                
                input 
                    width 120px !important
                    border none
            
 
     
 
